.chat-container{
	border-radius: 4px;
    height: 400px;
	width: 100%;
	overflow: scroll;
	padding: 8px;
}

::-webkit-scrollbar {
  width: 20px;
  border-radius: 25px !important;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7EC0D7; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A2CCDA; 
}

/*Login*/

.row .tipoLogin{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}